

#container {
    text-align:center;
    vertical-align:middle;
    margin-bottom:0px;

}

#header img {
    width:430px;
    height:180px;
    margin-top:59px
}

#navbar ul  {
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    color:#666;
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: 2px;
}

li {
    display:inline;
    padding: 0.8em;
    font-family:Cabin;
}

a {
    text-decoration: none;
    color:#121212;
}

nav  a:hover {
    color: #a8a8a8;
}



.active{
    color:#a8a8a8;
}

#video_section {
    margin-bottom:300px;
}
